@import './partials/variables';

.area,.area {
    margin-top: 60px;
    
    .css-15wwp11-MuiTableHead-root {
        background-color: $mainColor;
        .css-1ygcj2i-MuiTableCell-root{
            color: $colorWhite;
        }
    }
    #demo-customized-menu{
        background-color: $colorWhite;
        box-shadow:'rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px';
    }
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    .css-6hp17o-MuiList-root-MuiMenu-list{
        display: flex !important;
        .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
            justify-content: center !important;
        }
        
    }
}



.create-area,.edit-area {
    .css-1ps6pg7-MuiPaper-root {
        width: 100%;
        padding: 30px;
        margin-top: 30px;
    }

    .form-control:focus {
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        border-color: #86b7fe;
        outline: none;
        box-shadow: none !important;
    }
   
    .title-area{
        position: relative;
        bottom: -34px;
        .css-1ps6pg7-MuiPaper-root{
            background-color: $mainColor;
            color: $colorWhite;
            padding: 15px;
        }
    }
    
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    width: 60px !important;
 }

