@import './partials/variables';

.navigate {
    text-decoration: none !important;
}

.body {

    .sidebar-area {
        font-family: math;
        margin-top: 20px;
        padding: 30px 40px;
        background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
        height: 100vh;
        position:fixed;
        width: 22%;
        overflow-y: scroll;
    
        .logo-area {
            padding-top: 20px;
            img {
                width: 100%;
                margin-right: 15px;
            }

            h4 {
                color: $colorWhite;
            }
        }

        hr {
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
            flex-shrink: 0;
            border-top: 0px solid rgba(0, 0, 0, 0.08);
            border-right: 0px solid rgba(0, 0, 0, 0.08);
            border-left: 0px solid rgba(0, 0, 0, 0.08);
            height: 0.0625rem;
            margin: 1rem 0px;
            border-bottom: none;
            opacity: 0.25;
            background-color: transparent;
        }

        .single-nav {
            display: flex;
            align-items: center;
            color: $colorWhite;
            margin: 1rem 0;
            cursor: pointer;
            padding: 10px;
            transition: all .3s;
            border-radius: 15px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.37);
            }


            h5 {
                margin-left: 15px;
                margin-bottom: 0 !important;
            }
        }
      
      

    }

    .nav-area {
        margin: 30px 0;

        .top-area {
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-side {
                h5 {
                    letter-spacing: 0.0075em;
                    overflow: hidden;
                    text-transform: capitalize;
                    vertical-align: unset;
                    text-decoration: none;
                    color: rgb(52, 71, 103);
                    font-weight: 700;
                }
            }

            .right-side {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                .logo-area{
                    width: 80px;
                    height: 80px;
                    img {
                        background-color: black;
                        border-radius: 100%;
                        width: 100%;
                        height: 100%;
                    }
                }
                

                .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
                    padding: 14px !important;
                }

                .hamburger{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 28px;
                    height: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                    span{
                        background-color: $mainColor;
                        height: 3px;
                        transition: all .4s ease-in;
                        width: 100%;
                        transform-origin:left;
                       
                    }
                }
                

            }
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
                width: 100%;
            }
        }

    }
    .fixed {
        position: fixed;
        top: 10px;
        left: 351px;
        background: $colorWhite;
        width: 72%;
        z-index: 20;
        padding: 15px 0;
        box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset, rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
        backdrop-filter: saturate(200%) blur(1.875rem);
        background-color: rgba(255, 255, 255, 0.8);
    }
    
}

